* {
	box-sizing: border-box;
	text-decoration: none;		/* les padding et bordures ne modifient pas les dimensions des boites */
}
body {
	font-family: Roboto-Regular, Arial, sans-serif;
	font-size: 1.1rem;
	width: 100%;
	padding: 0; 
	margin: 0;
}
h1, h3 {
	font-weight: normal;
	font-family: Shrikhand, Arial, sans-serif;
}

h1 {
	font-size: 2rem;
}
@import "base/polices";
@import "utils/variables";
@import "utils/mixins";
@import "utils/keyframes";
@import "pages/index";
@import "pages/resto";
@import "components/bouton";
@import "components/coeur";
@import "layout/header";
@import "layout/footer";
@import "layout/loader";
/*fin*/