/*---------------  remplissage coeur  ---------------*/

@keyframes remplissagecoeur {
	from {
		transform: scale(0);
		animation-timing-function: ease-in-out;
	}
	95% {
		transform: scale(1.1);
		animation-timing-function: ease-in-out;
	}
	100% {
		transform: scale(1);
	}
}

@keyframes masquagecoeur {
	from, 95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}


/*---------------  restaurant  ---------------*/
@keyframes groupe{
	from {
		left: -50rem;
	}
	to {
		left: 0;
	}
}

@keyframes assiette {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/*---------------  chargement animation  loader--------------*/
@keyframes stop-loading {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		
	}
}

@keyframes main-loading {
	from {
		visibility: hidden;
	}
	to {
		visibility: visible;
	}
}
@keyframes spin {
	from { transform: rotate(0deg); }
	to {  transform:rotate(360deg); }
}