$couleur_primaire: #9356DC; 		/* violet */
$couleur_secondaire: #FF79DA;		/* rose */
$couleur_tertiaire: #99E2D0;		/* vert */
$couleur_noire:#000000 ;  /*noire*/
$couleur_blanche:#ffffff;   /*blanche*/
$couleur_gris: #f6f6f6;  /*gris*/

/* pages resto */
$numeroassiette: 10;
$delaiassiette: 160ms;